:root {
  --primary-color: #10375c;
  --primary-color-up: #0D2C4A;
  --secondary-color: #ff5722;
  --text-black: #222831;
  --main-black: #000000;
  --main-white: #ffffff;
  --background: #e5e5e5;
  --text-gray-1: #6a6a6a;
  --text-gray-2: #9a9a9a;
  --text-gray-3: #dfdfdf;
  --text-gray-4: #f8f8f8;
  --btn-shadow: #FF572252;
}
